:root {
  --shuffling-duration: 1250ms; /* Default value */
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 6px solid #fffb00;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: rgb(43, 43, 43);
  /* max-width: 180px; */
  min-width: 210px;
  min-height: 268px;
}

.fetchbuttons-wrapper {
  display: flex;
  margin-inline: auto;
  gap: 0.5em;
  max-width: 400px;
}

.card:hover {
  cursor: pointer;
  border: 6px solid red;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 1rem;
  padding: 1rem;
}

.grid img {
  width: 160px;
  height: 160px;
}

.pokemon-name {
  font-size: 1.25rem;
}

.helloshuffle {
  animation: fade-cards var(--shuffling-duration);
}

.lose-wrapper,
.win-wrapper {
  font-size: 4rem;
  animation: scale-in 500ms 400ms ease-in-out;
  margin-top: 20%;
  visibility: hidden;
  animation-fill-mode: forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes fade-cards {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
    /* transform: scale(0); */
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
    /* transform: scale(1); */
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    visibility: visible;
    transform: scale(1);
  }
}
